<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775534471814-30d7fmbehvo05590a8eknhrmou6nqet3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775534471814-30d7fmbehvo05590a8eknhrmou6nqet3</string>
	<key>API_KEY</key>
	<string>AIzaSyADeyYVbdGtWTuhs0NPRTdpUoqLoxM4zkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>775534471814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>grocery-shop-35cc7</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-shop-35cc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775534471814:ios:e200a24c96d524e81d7f07</string>
</dict>
</plist>